@media (min-width: 768px) {
	button {
		width: 250px;
		letter-spacing: 0.5px;
		font-size: 2rem;
		white-space: nowrap;
	}
	.thumbs {
		&:after {
			width: 50%;
		}
	}
	.order {
		input {
			height: 53px;
			transform: translate(0,0);
		}
	}
	.carousel {
		.slides {
			.slide {
				min-height: 100vh;
				.productImage {
					height: 80vh;
					&:after {
						width: 500px;
						height: 500px;
					}
				}
				.productInfo {
					section {
						margin: 0 auto;
						width: 600px;
						&.description {
							p {
								font-size: 1.8rem;
								line-height: 40px;
								margin: 50px auto;
							}
						}
					}
				}
				.CTA {
					width: 600px;
					margin: 0 auto;
					display: flex;
					justify-content: center;
					align-items: center;
					.productImage {
						transform-origin: center;
						transform: scale(0.5);
					}
					.primary {
						padding-left: 50px;
						h3.productTitle {
							text-align: left;
						}
					}
				}
			}
		}
	}
	#cartModal {
		#cart {
			width: 600px;
			h4 {
				width: 300px;
			}
			.productImage {
				img {
					max-height: 80px;
					width: auto;
				}
			}
			.modalFooter {
				.btn-keepShopping {
					font-size: 1.2rem;
				}
				.btn-checkout {
					font-size: 1.8rem;
				}
			}
		}
	}
}
@media (min-width: 990px) {
	.carousel {
		.slides {
			.slide {
				.productInfo {
					section {
						margin: 0 auto;
						&.description {
							width: 800px;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}